/* Varibles */
:root {
  --main-font: 'Montserrat', sans-serif;
  --main-size: 14px;
  --main-color: #111111;
  --white: #fff;
  --orange: #fd9222;
  --violet: #1e1823;
  --black: #111;
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --font-family: 'Montserrat', sans-serif;
}

/* reset */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
  margin-top: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.list,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.accent {
  color: var(--orange);
}
.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* base style */
body {
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--main-color);
  background: var(--white);
}
/* header style */
.page-header {
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  /* margin-right: auto; */
  display: flex;
  align-items: center;
}
.social-item {
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  fill: #111111;
  stroke: none;
  transition: fill 250ms linear, border-color 250ms linear;
}
.social-item:hover,
.social-item:focus {
  fill: var(--orange);
  border-color: var(--orange);
}
.social-list {
  display: flex;
  column-gap: 14px;
}
.social-link {
  line-height: 0;
}
.social-link:hover,
.social-link:focus {
  color: #fd9222;
}
.logo-icon {
  margin-left: 4px;
  stroke: #fd9222;
  transition: stroke 250ms linear;
}
.soc-icon {
}
.logo-icon:hover,
.icon-icon:focus {
  stroke: #111;
}

.page-header-logo > span {
  font-style: italic;
}
.content-wrapper {
  display: flex;
  gap: 90px;
  /* margin-right: auto; */
  justify-content: space-between;
}
.page-header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.page-header-list {
  display: flex;
  gap: 24px;
}
.page-header-item {
}
.page-header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  transition: color 250ms linear;
}
.page-header-link:hover,
.page-header-link:focus {
  color: var(--orange);
}
.social-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-item {
}
.social-link {
}
/* hero */
.hero {
  max-width: 1136px;
  margin-bottom: 80px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero-bgq.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--violet);
  color: var(--white);
  margin-right: auto;
  margin-left: auto;

  border-radius: 30px;
}
.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero-title {
  width: 484px;
  font-weight: 500;
  font-size: 28px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
  font-family: var(--font-family);
  margin-bottom: 32px;
}
.hero-bottom {
  display: flex;
  align-items: center;
}
.hero-button {
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;

  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: none;
  cursor: pointer;

  margin-right: 14px;
  background: var(--orange);
  transition: background-color 250ms linear, color 250ms linear;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--beige);
  color: var(--orange);
}
.hero-link-howmade {
  display: inline-block;
  min-width: 183px;
  padding: 14px 25px;
  border: 1px solid var(--white);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  transition: border-color 250ms linear, color 250ms linear;
}
.hero-link-howmade:hover,
.hero-link-howmade:focus {
  border-color: var(--orange);
  color: var(--orange);
}

.hero-link-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-left: auto;

  transition: color 250ms linear;
}
.hero-link-scroll:hover,
.hero-link-scroll:focus {
  color: var(--orange);
}

.hero-scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--orange);

  transition: background-color 250ms linear, fill 250ms linear;
}
.hero-link-scroll:hover .hero-scroll-icon,
.hero-link-scroll:focus .hero-scroll-icon {
  background-color: var(--orange);
  fill: var(--white);
}

/* benefits */
.benefits {
  padding: 50px 0px;

  /* height: 266px; */
  background: var(--violet);
}
.benefits .container {
  width: 1164px;
}
.benefits-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 88px;
}
.benefits-item {
  /* width: 308px; */
  flex-basis: calc((100% - 176px) / 3);
  position: relative;
}
.benefits-item:not(:last-child)::after {
  position: absolute;
  top: 63px;
  right: -44px;
  content: '';
  display: inline-block;
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}
.benefits-con-wrapper {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--white);
  margin-bottom: 18px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ingridients */
.ingridients {
  padding-top: 120px;
  padding-bottom: 60px;
}

.ingredients-title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);

  margin: 0 auto;
  max-width: 412px;
  margin-bottom: 50px;
}
.ingredients-title-elem {
  color: var(--orange);
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  position: relative;
  overflow: hidden;
  flex-basis: calc((100% - 96px) / 4);
  border-radius: 15px;
  padding: 28px 21px 28px 21px;
  border: 1px solid var(--orange);
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}
.ingredients-item-img {
  margin-bottom: 32px;
}
.ingredients-item-title {
  font-size: 14px;
  text-transform: uppercase;
}

.ingredients-item:nth-child(4n + 1) {
  background: var(--orange);
  color: var(--white);
}
.ingredients-item:nth-child(4n + 3) {
  background: var(--black);
  border: 1px solid none;
  color: var(--white);
  border: none;
}
.ingredients-item:nth-child(odd) .ingridients-icon {
  stroke: white;
  fill: none;
}
.ingredients-item:nth-child(even) .ingridients-icon {
  stroke: var(--orange);
  fill: none;
}
.ingradients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #111;
  background-color: #fff;
  border-radius: 15px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.ingredients-item:hover .ingradients-overlay {
  transform: translateY(0);
}
/* <!-- how it's made  --> */
.how-made {
}

.how-made-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;

  line-height: 1.3;
  color: var(--black);
  text-align: center;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-block {
}
.how-made-block-title {
}
.how-made-block-list {
}
.how-made-block-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
}
/* top sellers */
.top-seller {
  padding: 60px 32px 60px 32px;
  text-align: center;
}
.container {
}
.top-sellers-title {
  font-weight: 600;
  font-size: 24px;
  font-family: var(--font-family);
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  color: var(--black);
}
.top-sellers-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.top-sellers-item {
}
.top-seller-img {
  border-radius: 15px 15px 0 0;
  width: 368px;
  height: 464px;
}
.content-wrap-top-sel {
  padding: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}
.top-sellers-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
  font-family: var(--font-family);
  background: var(--white);
}
.top-sellers-item-blur {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.top-sel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(200%);
  color: var(--light);
}
.top-sellers-item:hover .top-sel-overlay {
  transform: translate(-50%, -50%);
}
.overlay-item-blur {
  transition: filter 250ms linear;
}
.top-sellers-item:hover .overlay-item-blur {
  filter: blur(15px);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(17, 17, 17, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  max-width: 517px;
  border-radius: 15px;
  padding: 40px;
  background-color: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  line-height: 0;
}
.close-icon {
  stroke: var(--black);
  transition: stroke 250ms linear;
}
.close-modal-button:focus .close-icon,
.close-modal-button:hover .close-icon {
  stroke: var(--orange);
}
.modal-title {
  width: 300px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}
.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
  outline: transparent;
}
.modal-input {
  width: 100%;

  height: 68px;
  border: 1.5px solid rgba(64, 64, 64, 0.3);
  border-radius: 13px;
  padding: 22px 24px;
  background-color: transparent;
  outline: transparent;
  padding-left: 62px;
}
.review-form-input {
  position: absolute;
  display: block;
  top: 50%;
  left: 24px;
  fill: none;
  stroke: var(--black);
  transform: translateY(-50%);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--orange);
}
.modal-input:focus + .review-form-input {
  stroke: var(--orange);
}
.form-wrapper {
}
.form-wrapper-iconinput {
  position: relative;
}

.form-wrapper {
  margin-bottom: 18px;
}

.close-modal-button {
}

.modal-form {
}

.modal-textarea {
  /* display: block; */
  outline: transparent;
  height: 137px;
  width: 100%;
  border: 1.5px solid rgba(64, 64, 64, 0.3);
  border-radius: 13px;
  padding: 22px 24px;
  margin-top: 8px;
  opacity: 0.5;
  resize: none;
}

.modal-textarea:focus {
  border-color: var(--orange);
}
.modal-textarea::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.review-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  fill: transparent;
  cursor: pointer;
  margin-right: 12px;
}
.modal-checkbox:checked
  + .review-custom-checkbox-label
  .review-custom-checkbox {
  background-color: var(--orange);
  fill: var(--white);
}
.modal-checkbox:focus + .review-custom-checkbox-label .review-custom-checkbox {
  outline: 2px solid #0000ff80;
}
.form-policy-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.modal-checkbox-wrapper {
  margin-bottom: 40px;
}
.modal-button {
  min-width: 117px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 100px;
  font-weight: 600;
}
