/* Varibles */
:root {
  --main-font: 'Montserrat', sans-serif;
  --main-size: 14px;
  --main-color: #111111;
  --white: #fff;
  --orange: #fd9222;
  --violet: #1e1823;
  --black: #111;
}

/* reset */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
  margin-top: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.list,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;

  width: 1200px;
  padding: 0 32px;
}
/* base style */
body {
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--main-color);
  background: var(--white);
}
/* header style */
.page-header {
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  /* margin-right: auto; */
}

.page-header-logo > span {
  font-style: italic;
}
.content-wrapper {
  display: flex;
  gap: 90px;
  /* margin-right: auto; */
  justify-content: space-between;
}
.page-header-nav {
}

.page-header-list {
  display: flex;
  gap: 24px;
}
.page-header-item {
}
.page-header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.page-header-link:hover,
.page-header-link:focus {
  color: var(--orange);
}
.social-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-item {
}
.social-link {
}
/* hero */
.hero {
  background: rgba(17, 17, 17, 0.7);
  border-radius: 30px;
  min-height: 600px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;

  line-height: 1.22;
  letter-spacing: -0.03em;
  color: var(--white);
  font-family: var(--font-family);
}
.hero-btn {
  background: var(--orange);
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  border: none;
  color: var(--white);
}
.hero-link {
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;

  color: var(--white);
}
.hero-link-scroll {
  color: var(--white);
}
/* benefits */
.benefits {
  padding: 50px 0px;

  height: 266px;
  background: var(--violet);
}

.benefits-list {
}
.benefits-item {
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--white);
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ingridients */
.ingridients {
}

.ingredients-title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.ingredients-title-elem {
  color: var(--orange);
}
.ingredients-list {
}
.ingredients-item {
  border-radius: 15px;
}
.bg-orange {
  background: var(--orange);
  color: var(--white);
}
.bg-black {
  background: var(--violet);
  color: var(--white);
}
.bg-white {
  background: var(--white);
  border: 1px solid var(--orange);
}
.ingredients-item-img {
}
.ingredients-item-title {
}
/* <!-- how it's made  --> */
.how-made {
}

.how-made-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;

  line-height: 1.3;
  color: var(--black);
  text-align: center;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-block {
}
.how-made-block-title {
}
.how-made-block-list {
  list-style: disc;
}
.how-made-block-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
}
